body {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.instructions {
  padding: 30px;
}

.instructions__title {
  font-size: 2rem;
}

.minim {
  float: right;
  background-color: #505050;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem;
  width: 380px;
  max-width: 380px;
}

.minim__name {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 30px;
}

.minim__button--small {
  width: 34px;
  height: 40px;
  border: 1px black solid;
  background-color: white;
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
}

.minim__button--long {
  width: 34px;
  height: 80px;
  border: 1px black solid;
  background-color: white;
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
}

.minim__button--long-and-wide {
  width: 80px;
  height: 80px;
  border: 1px black solid;
  background-color: white;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.minim__slider {
  width: 315px;
  height: 80px;
  border: 1px black solid;
  background-color: black;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
}
